<section ng-controller="HomeController">

  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="LETS ALERT" class="img-responsive" src="modules/core/client/img/brand/logo.png"/>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Alerting the people of the city...!!
      </p>
    </div>
    <div class="row">
    </div>
  </div>
  <div>
    <h2>Particulers</h2>
    <h4> There is a massive growth in the use of smart phones (especially Android phones) over the past few years.
      Cities play a major role in the economic development of the nation. But still the City Corporation, major
      government and non-government bodies are using the old method of publishing the notifications about various social
      events, cultural events, campaigns and important dates in the newspapers. But due to the busy life style of people
      they are unable to go through the published notifications. Also it is time consuming procedure for a person to
      post a complaint to various government departments. All these practices are time consuming perhaps time is the
      most important factor today.
    </h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>P</strong>olice</h2>
      <p>To alert regarding the strikes, public events, missing persons etc..</p>
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>lectricity</h2>
      <p>To alert regarding power cut, load shedding etc..</p>
    </div>
    <div class="col-md-3">
      <h2><strong>W</strong>ater</h2>
      <p>To alert regarding water scarcity, etc..</p>
    </div>
    <div class="col-md-3">
      <h2><strong>C</strong>ollege</h2>
      <p>To alert regarding college events, college fests etc..</p>
    </div>
  </div>
  <div class="well" align="center">
    Use the Link to Download app from playstore
    <h2><a href='https://play.google.com/store/apps/details?id=com.adityaladwa.letsalert&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img width="200"  alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a> </h2>
  </div>
</section>
