<section>
  <div class="page-header">
    <h1>Complaints</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="complaint in vm.complaints"
       data-ui-sref="complaints.view({ complaintId: complaint._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="complaint.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="complaint.user" data-ng-bind="complaint.user.displayName"></span>
        <span data-ng-if="!complaint.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="complaint.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.complaints.$resolved && !vm.complaints.length">
    No Complaints yet, why don't you <a data-ui-sref="complaints.create">create one</a>?
  </div>
</section>
